.App {
    text-align: center;
}

.App-logo {
    #animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-QRField {
    #animation: App-logo-spin infinite 20s linear;
    #height: 512px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    align: top;
    display: flex;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/*class for animated TeamInput*/
.App-input {
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    background-image: linear-gradient(to top, gainsboro 0%, white 90%);
    left-margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(254, 0, 0, 0);
}
.App-input.normal{
    border: 2px solid green;
    animation: none;
}
.App-input.warning {
    border: 2px solid rgb(254,0,0);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(254,0,0,0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(254,0,0,0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(254,0,0,0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(254,0,0,0.4);
        box-shadow: 0 0 0 0 rgba(254,0,0,0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(254,0,0,0);
        box-shadow: 0 0 0 10px rgba(254,0,0,0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(254,0,0,0);
        box-shadow: 0 0 0 0 rgba(254,0,0,0);
    }
}
